/* line 18, ../sass/_base.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 24, ../sass/_base.scss */
.container {
  margin-top: 40px;
}

/* line 30, ../sass/_base.scss */
.center {
  text-align: center;
}

/* line 21, ../sass/_override.scss */
.tooltip .tooltip-inner {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -6px 5px -5px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -6px 5px -5px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -6px 5px -5px rgba(255, 255, 255, 0.3) inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), #000000);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), #000000);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8), #000000);
  background: linear-gradient(top, rgba(0, 0, 0, 0.8), #000000);
  border: 1px solid black;
  text-shadow: 0 1px 0 black;
  color: white;
}

/* line 26, ../sass/_mac-app.scss */
.app-chrome {
  background-color: #e7ebf1;
  border-left: 1px solid #949498;
  border-right: 1px solid #949498;
  border-bottom: 1px solid #949498;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

/* line 36, ../sass/_mac-app.scss */
.app-chrome-header {
  position: relative;
  border-top: 1px solid #70717a;
  border-bottom: 1px solid #949498;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #b6b6b6));
  background: -webkit-linear-gradient(top, #e4e4e4, #b6b6b6);
  background: -moz-linear-gradient(top, #e4e4e4, #b6b6b6);
  background: -o-linear-gradient(top, #e4e4e4, #b6b6b6);
  background: linear-gradient(top, #e4e4e4, #b6b6b6);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
/* line 47, ../sass/_mac-app.scss */
.app-chrome-header > h1 {
  font-size: 16px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 26px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 59, ../sass/_mac-app.scss */
.app-chrome-actions {
  position: absolute;
  right: 7px;
  top: 2px;
}
/* line 72, ../sass/_mac-app.scss */
.app-chrome-actions > span {
  width: 14px;
  height: 14px;
  display: inline-block;
  color: transparent;
  margin: 0 2px;
  line-height: 12px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset;
}
/* line 91, ../sass/_mac-app.scss */
.app-chrome-actions > span:after {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
  content: " ";
  display: inline-block;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 10px;
  width: 2px;
}
/* line 104, ../sass/_mac-app.scss */
.app-chrome-actions > span:before {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
  content: " ";
  display: inline-block;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 2px;
  width: 2px;
}
/* line 118, ../sass/_mac-app.scss */
.app-chrome-actions:hover > span {
  color: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
/* line 124, ../sass/_mac-app.scss */
.app-chrome-actions .app-chrome-close {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ef523d), color-stop(67%, #f25b47), color-stop(100%, #f0998f));
  background: -webkit-linear-gradient(top, #ef523d 0%, #f25b47 67%, #f0998f 100%);
  background: -moz-linear-gradient(top, #ef523d 0%, #f25b47 67%, #f0998f 100%);
  background: -o-linear-gradient(top, #ef523d 0%, #f25b47 67%, #f0998f 100%);
  background: linear-gradient(top, #ef523d 0%, #f25b47 67%, #f0998f 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px #77160a inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px #77160a inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px #77160a inset;
}
/* line 129, ../sass/_mac-app.scss */
.app-chrome-actions .app-chrome-minimize {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3ab25), color-stop(46%, #f6ba5e), color-stop(100%, #ffe868));
  background: -webkit-linear-gradient(top, #e3ab25 0%, #f6ba5e 46%, #ffe868 100%);
  background: -moz-linear-gradient(top, #e3ab25 0%, #f6ba5e 46%, #ffe868 100%);
  background: -o-linear-gradient(top, #e3ab25 0%, #f6ba5e 46%, #ffe868 100%);
  background: linear-gradient(top, #e3ab25 0%, #f6ba5e 46%, #ffe868 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px #6f4407 inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px #6f4407 inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px #6f4407 inset;
}
/* line 134, ../sass/_mac-app.scss */
.app-chrome-actions .app-chrome-maximize {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77a561), color-stop(46%, #9dd87a), color-stop(100%, #cce7ad));
  background: -webkit-linear-gradient(top, #77a561 0%, #9dd87a 46%, #cce7ad 100%);
  background: -moz-linear-gradient(top, #77a561 0%, #9dd87a 46%, #cce7ad 100%);
  background: -o-linear-gradient(top, #77a561 0%, #9dd87a 46%, #cce7ad 100%);
  background: linear-gradient(top, #77a561 0%, #9dd87a 46%, #cce7ad 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px #51723b inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px #51723b inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -6px 3px -3px rgba(255, 255, 255, 0.5) inset, 0 9px 2px -6px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px #51723b inset;
}

/* line 143, ../sass/_mac-app.scss */
.app-chrome-nav .nav-pills {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ececec), color-stop(100%, #dadada));
  background: -webkit-linear-gradient(top, #ececec, #dadada);
  background: -moz-linear-gradient(top, #ececec, #dadada);
  background: -o-linear-gradient(top, #ececec, #dadada);
  background: linear-gradient(top, #ececec, #dadada);
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 0;
}
/* line 149, ../sass/_mac-app.scss */
.app-chrome-nav .nav-pills li {
  margin-right: 10px;
}
/* line 152, ../sass/_mac-app.scss */
.app-chrome-nav .nav-pills li a {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 163, ../sass/_mac-app.scss */
.app-chrome-nav .nav-pills li a:hover {
  background-color: gray;
  border-color: #666666;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 5px 2px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 5px 2px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 5px 2px -4px rgba(0, 0, 0, 0.5);
}
/* line 177, ../sass/_mac-app.scss */
.app-chrome-nav .nav-pills .active > a, .app-chrome-nav .nav-pills a:active, .app-chrome-nav .nav-pills a:active:hover {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7c7c7b), color-stop(100%, #b2b2b2));
  background: -webkit-linear-gradient(top, #7c7c7b, #b2b2b2);
  background: -moz-linear-gradient(top, #7c7c7b, #b2b2b2);
  background: -o-linear-gradient(top, #7c7c7b, #b2b2b2);
  background: linear-gradient(top, #7c7c7b, #b2b2b2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.65) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.65) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.65) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}
/* line 185, ../sass/_mac-app.scss */
.app-chrome-nav .nav-pills > .nav {
  margin-bottom: 0;
}
/* line 189, ../sass/_mac-app.scss */
.app-chrome-nav .nav-pills a {
  color: #333333;
}

/* line 196, ../sass/_mac-app.scss */
.app-article {
  float: left;
  background-color: #f4f4f4;
  text-shadow: 0 1px 0 white;
}
@media (min-width: 768px) {
  /* line 196, ../sass/_mac-app.scss */
  .app-article {
    -webkit-box-shadow: -1px 0 0 white, -2px 0 0 #d5d9de;
    -moz-box-shadow: -1px 0 0 white, -2px 0 0 #d5d9de;
    box-shadow: -1px 0 0 white, -2px 0 0 #d5d9de;
  }
}
/* line 205, ../sass/_mac-app.scss */
.app-article h1, .app-article h2, .app-article h3, .app-article h4, .app-article h5, .app-article h6 {
  color: #4781b2;
  text-shadow: 0 1px 0 white;
}
/* line 210, ../sass/_mac-app.scss */
.app-article .app-article-wrap {
  padding: 20px;
  color: #75808a;
}
/* line 214, ../sass/_mac-app.scss */
.app-article .app-article-wrap hr {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 227, ../sass/_mac-app.scss */
.app-tags .app-tag {
  border: 1px solid #e5c41e;
  background-color: #ffe189;
  padding: 4px 10px;
  color: #d19e00;
  text-shadow: 0 1px 0 white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(75%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.7)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.7) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.7) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.7) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.7) 100%);
  -webkit-box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  box-shadow: 0 1px 0 white inset;
}
/* line 244, ../sass/_mac-app.scss */
.app-tags a .app-tag:hover {
  -webkit-box-shadow: 0 1px 0 white inset, 0 0 5px #ffe189;
  -moz-box-shadow: 0 1px 0 white inset, 0 0 5px #ffe189;
  box-shadow: 0 1px 0 white inset, 0 0 5px #ffe189;
  background-color: #ffeebc;
}
/* line 249, ../sass/_mac-app.scss */
.app-tags a .app-tag:active, .app-tags a .app-tag:hover:active {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 white;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 white;
}
/* line 254, ../sass/_mac-app.scss */
.app-tags a:hover {
  text-decoration: none;
}
/* line 262, ../sass/_mac-app.scss */
.app-tags span {
  text-transform: uppercase;
}

/* line 270, ../sass/_mac-app.scss */
.app-sidebar {
  text-shadow: 0 1px 0 white;
}
/* line 274, ../sass/_mac-app.scss */
.app-sidebar hr {
  margin-left: -28px;
  border-color: #D0D5DB transparent #F2F4F7;
}
@media (max-width: 1199px) {
  /* line 274, ../sass/_mac-app.scss */
  .app-sidebar hr {
    margin-left: -18px;
  }
}
@media (max-width: 767px) {
  /* line 270, ../sass/_mac-app.scss */
  .app-sidebar {
    clear: both;
  }
  /* line 284, ../sass/_mac-app.scss */
  .app-sidebar hr {
    margin-left: 0;
  }
}

/* line 291, ../sass/_mac-app.scss */
.app-profile {
  padding-top: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 291, ../sass/_mac-app.scss */
  .app-profile {
    margin-left: -30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 301, ../sass/_mac-app.scss */
.app-profile img {
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}
/* line 307, ../sass/_mac-app.scss */
.app-profile p {
  margin-top: 20px;
}
@media (max-width: 767px) {
  /* line 291, ../sass/_mac-app.scss */
  .app-profile {
    border-top: 1px solid #D0D5DB;
    -webkit-box-shadow: 0 1px 0 #f2f4f7 inset;
    -moz-box-shadow: 0 1px 0 #f2f4f7 inset;
    box-shadow: 0 1px 0 #f2f4f7 inset;
  }
}
@media (max-width: 1199px) {
  /* line 317, ../sass/_mac-app.scss */
  .app-profile p {
    padding: 10px;
  }
}

@media (min-width: 767px) {
  /* line 323, ../sass/_mac-app.scss */
  .app-social-links {
    margin-left: -30px;
  }
}
/* line 330, ../sass/_mac-app.scss */
.app-social-links ul {
  list-style-type: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
/* line 337, ../sass/_mac-app.scss */
.app-social-links li {
  float: right;
}
/* line 341, ../sass/_mac-app.scss */
.app-social-links nav {
  display: block;
}
/* line 345, ../sass/_mac-app.scss */
.app-social-links a {
  width: 32px;
  height: 32px;
  margin: 5px;
}
/* line 350, ../sass/_mac-app.scss */
.app-social-links a:hover {
  text-decoration: none;
}
/* line 355, ../sass/_mac-app.scss */
.app-social-links .icon-social-rss {
  background-image: url("../img/zilla-social-icons/RSS.png");
}
/* line 356, ../sass/_mac-app.scss */
.app-social-links .icon-social-twitter {
  background-image: url("../img/zilla-social-icons/Twitter.png");
}
/* line 357, ../sass/_mac-app.scss */
.app-social-links .icon-social-dribbble {
  background-image: url("../img/zilla-social-icons/Dribbble.png");
}
/* line 358, ../sass/_mac-app.scss */
.app-social-links .icon-social-github {
  background-image: url("../img/zilla-social-icons/GitHub.png");
}
/* line 359, ../sass/_mac-app.scss */
.app-social-links .icon-social-plus {
  background-image: url("../img/zilla-social-icons/Google_Plus.png");
}

/* line 364, ../sass/_mac-app.scss */
.app-footer {
  margin-top: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
