// ------------------------------
// base styles
// ------------------------------
// author : anas.nakawa@gmail.com
// license: MIT (http://opensource.org/licenses/mit-license.php)
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// typography
// base
// ------------------------------

// typography
// ----------
body {
  font-family: $mac-app-font-primary, $mac-app-font-secondary;
  @include background-image( linear-gradient(#8b9da9, #fff6e4) );
  @include box-shadow( inset 0 0 100px hsla(0,0%,0%,.3) );
}

.highlighted {
	padding: 0;
	text-shadow: none;
	border: 1px solid black;
	code {
		@include box-shadow( 0 1px 0 rgba(255, 255, 255, 0.2) inset );
		padding-left: 10px;
		padding-right: 10px;
	}
}

// base
// ----
.container {
  padding-top: 40px;
}

.nav-raw {
  list-style-type: none;
  
  li {
    @include float( left );
    padding: 0 10px;
  }
}

// helpers
// -------
.center {
  text-align: center;
}

.near {
  @include float( left );
}

.far {
  @include float( right );
}
