// ------------------------------
// overriding other libs
// ------------------------------
// author : anas.nakawa@gmail.com
// license: MIT (http://opensource.org/licenses/mit-license.php)
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// bootstrap
// ------------------------------


// bootstrap
// -------------------

// tooltip
.tooltip {
  
  .tooltip-inner {
    
    @include box-shadow( 0 1px 0 rgba( 255, 255, 255, 0.3 ) inset, 0 -6px 5px -5px rgba( 255, 255, 255, 0.3 ) inset );
    @include background( linear-gradient( top, rgba( 0, 0, 0, 0.8 ), rgba( 0, 0, 0, 1 ) ) );
    border: 1px solid black;
    text-shadow: 0 1px 0 black;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
}

// nav
.nav > li > a:hover, .nav > li > a:focus {
  background: none;
}

// responsive margin
@include tablet-portrait-and-below {
  body {
    padding-left: 0;
    padding-right: 0;
    
    .container {
      margin-top: 0;
      padding-top: 0;
    }
  }
}
