// ------------------------------
// projects page
// ------------------------------
// author : anas.nakawa@gmail.com
// license: MIT (http://opensource.org/licenses/mit-license.php)
// ------------------------------

.repos {
  div {
    
  }
}

.github-box {

  margin: 10px 0;
  
  .github-box-header h3 {
    padding-top: 0;
    padding-bottom: 0;
  }
 
}