// ------------------------------
// variables
// ------------------------------
// author : anas.nakawa@gmail.com
// license: MIT (http://opensource.org/licenses/mit-license.php)
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// compass settings
// fonts
// ------------------------------

// compass settings
// ----------------
$experimental-support-for-svg : true;

// fonts
$mac-app-font-primary         : 'Lato';
$mac-app-font-secondary       : sans-serif;