// ------------------------------
// base styles
// ------------------------------
// author : anas.nakawa@gmail.com
// license: MIT (http://opensource.org/licenses/mit-license.php)
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// typography
// base
// ------------------------------


// typography
// ----------
body {
  font-family: 'Lato', sans-serif;
}

// base
// ----
.container {
  margin-top: 40px;
}

// helpers
// -------
.center {
  text-align: center;
}
