// ------------------------------
// mac app styles
// ------------------------------
// author : anas.nakawa@gmail.com
// license: MIT (http://opensource.org/licenses/mit-license.php)
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// chrome wrapper
// chrome header
// chrome nav
// app article
// app sidebar
// app footer
// ------------------------------

// chrome wrapper
// ------------------------------
.app-chrome {
  background-color: #e7ebf1;
  border-left: 1px solid #949498;
  border-right: 1px solid #949498;
  border-bottom: 1px solid #949498;
  @include border-radius( 4px 4px 0 0 );
}

// chrome header
// ------------------------------
.app-chrome-header {
  
  position: relative;
  border-top: 1px solid #70717a;
  border-bottom: 1px solid #949498;
  
  @include background( linear-gradient( top, #e4e4e4, #b6b6b6 ) );
  @include box-shadow( 0 1px 0 rgba( 255, 255, 255, 0.25 ), 0 1px 0 rgba( 255, 255, 255, 0.6 ) inset, 0 1px 0 rgba( 255, 255, 255, 0.6 ) );
  @include border-radius( 3px 3px 0 0 );
  
  // website title
  > h1 {
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 26px;
    text-shadow: 0 1px 0 rgba( 255, 255, 255, 0.5 );
  }
  
  a {
    color: #333333;
    &:hover {
      text-decoration: none;
    }
  }
  
}

// chrome header actions
.app-chrome-actions {
  
  // local variables
  $common-action-shadow: 0 1px 0 rgba( 255, 255, 255, 0.5 ), 
                         0 1px 3px rgba( 0, 0, 0, 0.3 ) inset,
                         0 -6px 3px -3px rgba( 255, 255, 255, 0.5 ) inset,
                         0 9px 2px -6px rgba( 255, 255, 255, 0.5 ) inset;
    
  position: absolute;
  @include left( 7px );
  top: 2px;
  
  // common action styles
  > span {
    
    width: 14px;
    height: 14px;
    display: inline-block;
    color: transparent;
    margin: 0 2px;
    line-height: 12px;
    text-align: center;
    font-family: $mac-app-font-primary;    
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    
    @include border-radius( 50% );
    @include box-shadow( $common-action-shadow );
    
    // light effect
    &:after {
      background-color: rgba( 255, 255, 255, 0.3 );
      @include border-radius( 50% );
      @include box-shadow( 0 0 1px 1px rgba( 255, 255, 255, 0.3 ) );
      content: " ";
      display: inline-block;
      height: 1px;
      left: 6px;
      position: absolute;
      top: 10px;
      width: 2px;
    }
    
    &:before {
      background-color: rgba( 255, 255, 255, 0.5 );
      @include border-radius( 50% );
      @include box-shadow( 0 0 1px 1px rgba( 255, 255, 255, 0.5 ) );
      content: " ";
      display: inline-block;
      height: 1px;
      left: 6px;
      position: absolute;
      top: 2px;
      width: 2px;
    }
  }
  
  &:hover > span {
    color: rgba( 60, 60, 60, 0.7 );
    text-shadow: 0 1px 0 rgba( 255, 255, 255, 0.4 );
  }
  
  // colored circles
  .app-chrome-close {
    @include background( linear-gradient( top, #ef523d 0%, #f25b47 67%, #f0998f 100% ) );
    @include box-shadow( $common-action-shadow, 0 0 1px 1px #77160a inset );
  }
  
  .app-chrome-minimize {
    @include background( linear-gradient( top, #e3ab25 0%, #f6ba5e 46%, #ffe868 100% ) );
    @include box-shadow( $common-action-shadow, 0 0 1px 1px #6f4407 inset );
  }
  
  .app-chrome-maximize {
    @include background( linear-gradient( top, #77a561 0%, #9dd87a 46%, #cce7ad 100% ) );
    @include box-shadow( $common-action-shadow, 0 0 1px 1px #51723b inset );
  }
  
}

// chrome nav
// ------------------------------
.app-chrome-nav .nav-pills {
  
  @include background( linear-gradient( top, #ececec, #dadada ) );
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 0;
  
  li {
    margin: 0 10px;
    
    a {
      padding-top: 2px;
      padding-bottom: 2px;
      margin-top: 4px;
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 12px;
      font-family: 'Tahoma';
      border: 1px solid transparent;
      @include transition(all 0.3s);
      
      &:hover {
        background-color: gray;
        border-color: #666666;
        color: white;
        text-shadow: 0 1px 0 rgba( 0, 0, 0, 0.6 );
        @include border-radius( 20px );
        @include background-image( linear-gradient( top, rgba( 255, 255, 255, 0.5 ), rgba( 255, 255, 255, 0 ) ) );
        @include box-shadow( 0 1px 0 rgba( 255, 255, 255, 0.6 ) inset, 0 5px 2px -4px rgba( 0, 0, 0, 0.5 ) );
      }
      
    }
    
  }
  
  .active > a, a:active, a:active:hover {
    @include border-radius( 15px );
    @include background( linear-gradient( top, #7c7c7b, #b2b2b2 ) );
    @include box-shadow( 0 1px 1px rgba( 0, 0, 0, 0.65 ) inset, 0 1px 0 rgba( 255, 255, 255, 0.75 ) );
    color: white;
    text-shadow: 0 1px 0 rgba( 0, 0, 0, 0.35 );
  }
  
  > .nav {
    margin-bottom: 0;
  }
  
  a {
    color: #333333;
  }
}

// app article
// ------------------------------
.app-article {
  @include float( right );
  background-color: #f4f4f4;
  text-shadow: 0 1px 0 white;
  
  @media ( min-width: 768px ) {
    @include box-shadow( -1px 0 0 white, -2px 0 0 #D5D9DE );
  }
   
  h1, h2, h3, h4, h5, h6 {
    color: #4781b2;
    text-shadow: 0 1px 0 white;
  }
  
  .app-article-wrap {
    padding: 20px;
    color: #75808a;
    
    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

// app tags
// ------------------------------
.app-tags {
  // tag variables
  $tag-color: #FFE189;

  .app-tag {
    
    border: 1px solid #e5c41e;
    background-color: $tag-color;
    padding: 4px 10px;
    color: #d19e00;
    text-shadow: 0 1px 0 white;
    
    @include transition(all 0.3s);
    @include margin-right( 5px );
    @include border-radius( 20px );
    @include background-image( linear-gradient( top, rgba( 255, 255, 255, 0.5 ) 0%, rgba( 255, 255, 255, 0 ) 75%, rgba( 255, 255, 255, 0.7 ) 100% ) );
    @include box-shadow( 0 1px 0 white inset );
    
  }

  time.app-tag {
    background-color: #E7EBF1;
    border-color: #BFC3C9;
    color: #A1A5AB;
    text-shadow: 0 1px 0 white;
    min-width: 80px;
  }
  
  a .app-tag {
    &:hover {
      @include box-shadow( 0 1px 0 white inset, 0 0 5px $tag-color );
      background-color: lighten( $tag-color, 10% )
    }
    
    &:active, &:hover:active {
      @include box-shadow( 0 1px 5px rgba( 0, 0, 0, 0.5 ) inset, 0 1px 0 white );
    }
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    // @include box-shadow( 0 1px 3px rgba( 0, 0, 0, 0.5 ) inset );
  }
  
  span {
    text-transform: uppercase;
  }
  
}

// app sidebar
// ------------------------------
.app-sidebar {
  
  text-shadow: 0 1px 0 white;
  
  .img-wrap {
    width: 150px;
  }
  
  hr {
    @include margin-right( -28px );
    border-color: #D0D5DB transparent #F2F4F7;
    
    @media ( max-width: 1199px ) {
      @include margin-right( -18px );
    }
  }
  
  @media ( max-width: 767px ) {
    hr {
      @include margin-right( 0 );
    }
    clear: both;
  }
}

.app-profile {
  padding-top: 40px;
  text-align: center;
  
  @media ( min-width: 768px ) {
    @include margin-right( -30px );
    padding-left: 10px;    
    padding-right: 10px;    
  }
  
  p {
    margin-top: 20px;
  }
  
  @media ( max-width: 767px ) {
    border-top: 1px solid #D0D5DB;
    @include box-shadow( 0 1px 0 #F2F4F7 inset );
  }
  
  @media ( max-width: 1199px ) {
    p {
      padding: 10px;
    }
  }
}

.app-social-links {
  
  @media ( min-width: 767px ) {
    @include margin-right( -30px );
  }
  
  
  ul {
    list-style-type: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  
  li {
    @include float( left );
  }
  
  nav {
    display: block;
  }
  
  a {
    width: 32px;
    height: 32px;
    margin: 5px;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  .icon-social-rss { background-image: url( '../img/zilla-social-icons/RSS.png' ); }
  .icon-social-twitter { background-image: url( '../img/zilla-social-icons/Twitter.png' ); }
  .icon-social-dribbble { background-image: url( '../img/zilla-social-icons/Dribbble.png' ); }
  .icon-social-github { background-image: url( '../img/zilla-social-icons/GitHub.png' ); }
  .icon-social-plus { background-image: url( '../img/zilla-social-icons/Google_Plus.png' ); }
}

// app footer
// ------------------------------
.app-footer {
  margin-top: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

// common utilities
// ------------------------------
.img-wrap {
  border: 1px solid #333333;
  display: inline-block;
  position: relative;
  max-width: 100%;
  @include border-radius( 3px );
  @include box-shadow( 0 1px 0 white );
  
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @include box-shadow(
      0 1px 0 rgba(255, 255, 255, 0.2) inset, 
      0 11px 1px -10px rgba(255, 255, 255, 0.3) inset
    );
  }
}