// ------------------------------
// main file (rtl interface)
// ------------------------------
// author : anas.nakawa@gmail.com
// license: MIT (http://opensource.org/licenses/mit-license.php)
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// importing resources
// ------------------------------


// importing resources
// -------------------
@import "../../files/components/bi-app-sass/bi-app/bi-app-rtl";
@import "main";

